<!doctype html>
<html ng-app="CommentsModule">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
    <script src="modules/comments.client.module.js"></script>
</head>

<body>
<div ng-controller="CommentsController">

    <p>Find Comment</p>
    <input type="text" name="id" ng-model="comment.id">
    <button type="submit" ng-click="getCommentById()">
        Find Comment
    </button>

    <hr>
    <form name="commentForm" method="post" novalidate>
        <p>Id: {{comment.id}}</p>
        <p>Date: {{comment.date}}</p>
        <input type="hidden" name="id" ng-model="comment.id">
        <input type="hidden" name="date" ng-model="comment.date">
        <textarea name="comment" rows="2" ng-model="comment.comment"></textarea>
        <button type="submit" ng-click="addUpdateComment()">
            Add/Update Comment
        </button>
        <button type="submit" ng-click="deleteComment()">
            Delete Comment
        </button>
    </form>

    <p>{{message}}</p>

    <button type="submit" ng-click="loadComments()">
        Load Comments
    </button>

    <table border="1" ng-show="listComments.length > 0">
        <thead>
        <tr>
            <td>ID</td>
            <td>Comment</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in listComments">
            <td>{{c.id}}</td>
            <td>{{c.comment}}</td>
            <td>{{c.date}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
